.mock_items{
    background: url('../img/mock_one.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding:32px;
    position: relative;
}

.mock_items h2,.mock_items h4{
    color: #fff;
}


.mock_items h2{
    font-size: 72px;
}

.mock_items h4{
    font-size: 32px;
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.mock_items_two{
    background: url('../img/mock_two.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding:32px;
    position: relative;
}

.mock_items_two h2{
    font-size: 72px;
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.mock_items_three{
    background: url('../img/mock_three.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding:32px;
    position: relative;
}

.mock_items_three h2,
.mock_items_four h2
{
    font-size: 72px;
    color: #fff;
}

.mock_items_four{
    background: url('../img/mock_four.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding:32px;
    position: relative;
}

.mock_items_five{
    background: url('../img/mcok_five.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding:32px;
    position: relative;
}

.onesth{
    width: 203px;
}