.work_container{
    padding: 160px 0;
    position: relative;
}

.work_left,
.work_right{
    width: 50%;
}

.work_item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 160px;
}

.work_left_top{
    display: flex;
    align-items: center;
}

.work_left_top h2{
    font-size: 72px;
    font-weight: 600;
}

.work_left_top img{
    width: 60px;
    height: 65px;
    margin-left: 10px;
}

.work_info{
    margin-bottom:100px;
}

.work_info li h1{
    font-size: 100px;
    font-weight: 700;
}

.work_info li span{
    margin-top: 16px;
    display: block;
    font-size: 32px;
    font-weight: 500;
}

.work_info li p{
    margin-top: 16px;
    font-size: 20px;
}

.work_button{
    background-color: #1c1c1c;
    color: #fff;
    width: 187px;
    height: 56px;
    border-radius: 36px;
}

.work_ball{
    background-color: #fff;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 10px;
    margin-left: 8px;
    transition: 0.3s;
    opacity: 0;
}

.work_button:hover .view_arrow svg{
    margin-left: 8px;
    transition: 0.3s;
}

.work_button:hover .work_ball{
    opacity: 1;
    transition: 0.3s;
}

.work_button a{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work_button svg{
    margin-top: 10px;
    transition: 0.3s;
}

.work_right{
    overflow: hidden;
    transition: 0.3s;
    border-radius:52px;
}


.work_right img{
    width: 100%;
    border-radius: 52px;
    transition: 0.3s;
}

.work_right img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    border-radius:52px;
    opacity: 0.9;
}