@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



@font-face {
	font-family: old;
	src: url('../font/Good_Old_DOS.ttf');
}

@font-face {
	font-family: pixel;
	src: url('../font/PixelifySans-Regular.ttf');
}

.en{
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

.ko{
    font-family: 'Pretendard-light';
}

.old{
	font-family: 'old';
}

.pixel{
	font-family: 'pixel';
}